body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(75, 75, 6);
    font-size: 35px;
    background-color:rgba(196, 196, 170, 0.836);
    
}

#snake{
 border-color: rgb(75, 75, 6);
 border-style: solid;
 border-width: 35px;


}